/* Jerarquía CSS: inline > id > clase > etiqueta */

/* Estilos globales */

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Estilos para el header */

header {
  background: #bbbbbb;
  padding: 20px;
}

.header__contenedor {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 105px;
  right: 30px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px; 
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  transition: all 200ms;
}
  
nav a:hover {
  color: #7c5c09;
  font-size: 24px;
}

/* Estilos para la pagina de Home: */

.banner {
  width: 100%;
}

.titulo-seccion {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.titulo-seccion::first-letter {
  font-weight: bold;
}

.principal {
  padding: 2em 0 2em;
  background: linear-gradient(#ffffff, #dddddd);
}

.principal__contenedor {
  width: 940px;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
  color: #7c5c09;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 170px;
  float: left;
  margin: 0 20px 20px 0;
}

.ubicacion {
  padding: 0 0 2em;
  background: linear-gradient(#dddddd, #aaaaaa);
}

.ubicacion p {
  margin: 0 0 2em;
  text-align: center;
}

.ubicacion__mapa {
  width: 940px;
  margin: 0 auto;
}

.diferenciales {
  padding: 0 0 2em;
  background: linear-gradient(#aaaaaa, #888888);
}

.diferenciales__contenedor {
  width: 640px;
  margin: 0 auto;
}

.diferenciales__lista {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

/* Ejemplo del uso de pseudo-clases. */
/* 
  .diferenciales__item {
  line-height: 2;
}

.diferenciales__item:nth-child(2n-1) {
  line-height: 1;
  font-weight: bold;
}
*/

.diferenciales__item {
  margin: 0 0 1em;
  font-weight: bold;
}

.diferenciales__item::before {
  content: "\2727\00A0";
}

.diferenciales__imagen {
  width: 60%;
}

.video {
  background: linear-gradient(#888888, #191C1B);
  padding: 0 0 2em;
}

.video__contenedor {
  width: 600px;
  margin: 0 auto;
}

/* Estilos de la pagina de Productos. */

.productos {
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}

.productos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  transition: all 100ms;
}

.productos li:hover {
  border-color: #7c5c09;
  border-width: 3px;
  transform: scale(1.05);
}

.productos li:hover h2 {
  font-size: 33px;
}

.productos li:hover .producto-precio {
  font-size: 25px;
}

.productos li:active {
  border-color:#5f9ea0 
}

.productos h2 {
  font-size: 30px;
  font-weight: bold;
  transition: all 100ms;
}

.producto-descripcion {
  font-size: 18px;
}

.producto-precio {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  transition: all 100ms;
}

footer {
  text-align: center;
  background: url(img/bg.jpg);
  padding: 30px;
}

.copyright {
  color: #ffffff;
  font-size: 14px;
  margin: 20px;
}

/* main {
  width: 940px;
  margin: 0 auto;
} */

form {
  margin: 40px 0;
}

form label, form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padron {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.select-horario {
  margin: 20px 0 0;
}

.checkbox-novedades {
  margin: 20px 0;
}

.enviar {
  width: 55%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: #7c5c09;
  border-style: none;
  border-radius: 5px;
  transition: 0.5s all;
  cursor: pointer;
}

.enviar:hover {
  background: #5f9ea0;
  transform: scale(1.05);
}

table {
  margin: 40px 0;
}

thead {
  background: #555555;
  color: #ffffff;
  font-weight: bold;
}

td, th {
  border: 1px solid #000000;
  padding: 10px 20px;
}
